/* ! Button Components & Templates -------------------------------------------------------------------------------------------------------------------------------- */

.btn-base{
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border-color: transparent;
    padding: 0.5vh 0.5vw;
    margin: 0.5vh 0.5vw;
    
}

.btn-form{
    min-width: 25%;
    min-height: 5vh;
    border-color: transparent;
    background-color: rgb(116, 167, 214);
    transition: background-color 0.2s ease;
}

.btn-form:hover{
    min-width: 25%;
    min-height: 5vh;
    /* border-color:rgb(45, 67, 67); */
    background-color: rgb(165, 207, 246);
    transition: background-color 0.2s ease;
}

.btn-form-disabled{
    min-width: 25%;
    min-height: 5vh;
    border-color: transparent;
    background-color: rgb(92, 108, 123);
}

.btn-style-1{
    border: 2.5px solid rgb(1, 200, 255);
    color:  rgb(1, 200, 255);
    background-color: transparent;
    /* border-radius: 25%; */
}

.btn-style-1:hover{
    box-shadow: 0 0 5px 5px rgba(1, 200, 255, 0.2), 
    0 -5px 5px 0 rgba(1, 200, 255, 0.2), 
    -5px 0 5px 0 rgba(1, 200, 255, 0.2), 
    0 5px 5px 0 rgba(1, 200, 255, 0.2);
}