/* ! Global Imports ------------------------------------------------------------------------------------------------------------------------------------------------ */

@import './fonts.css';
@import './buttons.css';
@import './borders.css';
@import './transitions.css';
@import './navigation.css';
@import './justification.css';
@import './generic-containers.css';
@import './stylized-containers.css';
@import './pseudo-elements.css';

/* ! Global Page Config -------------------------------------------------------------------------------------------------------------------------------------------- */


body {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 0;
}

.gradient-background {
    background: linear-gradient(to bottom, #9997ae, #383848, #595b66);
    /*Added at `App.tsx` : document.body.classList.add('gradient-background');*/
}

/* .parent-stretch-box {
    padding: 20px;
    margin: 20px;
    position: relative;
} */
  
.stretch-box {
    /* position: absolute;
    left: 0;
    right: 0;
    height: fit-content;
    background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 100%;
}
