/* ! Navigation ---------------------------------------------------------------------------------------------- */

.navbar {
    display: flex;
    justify-content:left;
    background-color: #333;
    color: #fff;
    /* padding: 0px; */
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 65px;
}

.navbar ul {
    /* background-color: #333;  */
    display: flex;
    flex-direction: row;
    /* height: 100%; */
    /* flex-basis: content; */
    /* position: relative; */
}

.navbar li {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    /* margin: 0 10px; */
    padding: 15px;
    margin: 10px;
    /* min-width: 2vw; */
    align-items: center;
    text-align: center;
    flex-basis: 10%;
    /* vertical-align: middle; */
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background-color: #333;
    display: flex;
    transition: border-color 0.3s ease;
    /* height: 100%; */
}
.navbar li:hover {
    color: #faa;
    background-color: #3c1f1f;
    border-color: #fcfdffee;
    border-width: 3px;
    border-style: solid;
    /* position: static; */
    transition: border-color 0.5s ease;
}

.anchor1{
    min-width: 15vw;
    max-width: fit-content;
    /* height: 100%; */
} 

.item-list{
    list-style: none;
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #6d6868;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: block;
    /* animation: fade-in 0.3s ease-in-out; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
  
.dropdown.show {
    opacity: 1;
    visibility: visible;
}
  
.dropdown.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* @keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} */